---
// Astro island wrapper for the React NetworkTopology component
import NetworkTopology from './NetworkTopology.tsx';
---

<div class="not-prose overflow-x-auto">
  <NetworkTopology client:load />
</div>
